@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* This is a google font URL. Any font from https://fonts.google.com/ can be chosen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* We have used the CSS universal selector here and removed default padding and margin from all classes here */


.color-palette-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

.color-box {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.color-hex-code {
    /* flex: 1; */

    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin: 0 30px;
}

.button-container {
    /* flex: 1; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}

button {
    display: none;

    cursor: pointer;
    /* This makes the cursor appear as a 'hand with a finger pointing' upon hovering */
    font-size: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.25rem;
    /* This is useful for keeping the size of the buttons in accordance with the root font size which is dynamic in nature across devices. */
    border: none;
    border-radius: 10px;
    background-color: transparent;
}

.color-box:hover button { 
    /* Changing the properties of a button elements (child element) upon hovering on a `color-box` element (parent div). */
    display: block;
}

button:focus {
    font-size:1.45rem;
    height: 3rem;
    /* width: 3rem; */
    padding: 0rem;
}

#color-box-1 {
    background-color: aqua;
}
#color-box-2 {
    background-color: red;
}
#color-box-3 {
    background-color: yellow;
}
#color-box-4 {
    background-color: green;
}
#color-box-5 {
    background-color: purple;
}
/* DESIGN Mobile first */
@media only screen and (min-width: 800px) and (max-height: 1440px) {

    /* 
    We added a max height of 1440px (Height of a 1440p monitor) so that mobile devices, which usually have a minimum height of 1920px aren't affected by this media query 
    
    The min-width is set considering that the distance between the hex code and the icons starts look abnormally large beyond that width. So at that point, vertical color bars start being displayed (on computer screens)
    */
    .color-palette-container {
        flex-direction: row;
    }
    .color-box {
        font-size: 2vw;
        /* Did this to change the order of the elements so that the hex-code is displayed on the bottom */
        flex-direction: column-reverse;
    }
    .color-hex-code {
        margin-bottom: 15vh;
    }
    .button-container {
        flex-direction: column;
        margin-top: 20vh;
    }
}

